<!doctype html>  
<html lang="en">  
<head>  
  <meta charset="utf8">  
  <title>Cloudifiable</title>  
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
</head>  
<body>  
  <header>  
      <h1><a href="/">Cloudifiable</a></h1> 
  </header>  
  
  <div id="main" class="container">
    <div class="row">
      <div class="span12">
        <%= yield %>  
      </div>
    </div>
  </div>
</body>
</html>