<div class="offset4 span4">
	<p class="text-muted">Thanks <b class="text-success"><%= params[:name] %></b>. Your phone number is <b class="text-success"><%= params[:number] %></b></p>
	<p class="text-muted">You should soon receive a text message.</p>
</div>